@import '~antd/dist/antd.css';

body {
  padding: 16px;
}

div.slider {
  display: 'inline-block';
  margin: 0 128px 0 128px;
}

p.label {
  margin-top: 16px;
}

span.green {
  color: green;
}
span.red {
  color: red;
}
